<template>
  
  <div>
    <h5>{{ 블로그글[$route.params.id].title }}</h5>
    <p>{{ 블로그글[$route.params.id].date }}</p>
  </div>
  <div>
    <h5>{{ 블로그글[$route.params.id].title }}</h5>
    <p>{{ 블로그글[$route.params.id].date }}</p>
  </div>
  <div>
    <h5>{{ 블로그글[$route.params.id].title }}</h5>
    <p>{{ 블로그글[$route.params.id].date }}</p>
  </div>
</template>

<script>
export default {
  name : "detailVue",
  props : {
    블로그글 : Array,
  }
}
</script>

<style>

</style>