<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="<%= relativePath %>resource/css/style.css">
  <script src="<%= relativePath %>resource/js/common.js"></script>
</head>
<body>
  <div><%= siteName %> <%= currentYear %></div>
  3434 <%= relativePath %>
  <%- include(relativePath + 'src/include/test.ejs', { title1: "12312323" }) %>
  <div class="a">/html/test/박화주 하이요~</div>
</body>
</html>
