@charset "utf-8";
@import url(swiper.css);
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;box-sizing: border-box;}
html {height:100%;}
body {height:100%;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none; }
a:active {text-decoration:none;}
img{border:0px; max-width:100%;}
img, a, label, span{vertical-align:middle;}
li{list-style: none;}
table{border-collapse:collapse;width:100%;}
address,caption,cite,code,dfn,em,var,h1,h2,h3,h4,h5,h6 {font-style:normal;font-weight:normal;}
caption,legend,caption *,legend *{position:absolute; left:-10000px; line-height:0; font-size:0;}
fieldset{border:solid 0px black;padding:0;}
button{border:none; background:none; cursor:pointer; outline:none;}

body,a,[type=text], [type=password], [type=file], [type=email], [type=number], [type=tel], [type=submit],select,h1, h2, h3, h4, h5, h6, pre,textarea, button{
font-family:'nanum',"돋움","tahoma","sans-serif"; font-size:13px; line-height:1.4; color:#3c3b3b; font-weight:200;}

[type=text], [type=password], [type=file], [type=email], [type=number], [type=tel], [type=submit]{padding-left:10rem; box-sizing:border-box; vertical-align:middle; border:solid 1px #ddd; background-color:#fff; height:40px; line-height:38px; outline:none;border-radius: 0;
-webkit-transition: all 0.35s ease-out;
-moz-transition: all 0.35s ease-out;
-ms-transition: all 0.35s ease-out;
-o-transition: all 0.35s ease-out;
transition: all 0.35s ease-out;
}
[type=checkbox], [type=radio]{vertical-align:middle;margin:0;}
select{height:40px; line-height:38px; border:1px solid #ddd; box-sizing:border-box; outline:none;}
[type=text], [type=password], [type=number]{padding:0 10rem; width:100%; height:50rem; line-height:48rem; border:none; border:1px solid #c7cacc; font-size:18rem; font-weight:200;}
textarea::placeholder,
[type=password]::placeholder,
[type=text]::placeholder{color:#ccc; font-size:16rem;}
[type=text]:focus,
[type=number]:focus,
[type=password]:focus{border-color:#3ba7af;}
[type=text]:read-only,
[type=number]:read-only,
[type=password]:read-only{background-color:#f7f7f7; color:#ccc;}
[type=text]:disabled,
[type=number]:disabled,
[type=password]:disabled{background-color:#f7f7f7; color:#ccc;}
[type=text].error,
[type=number].error,
[type=password].error{border-color:#eb6100;}

[type=text].error:focus,
[type=number].error:focus,
[type=password].error:focus{border-color:#3ba7af;}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

[type=file], [type=submit]{padding:0; height:auto; }
textarea{padding:20px; width:100%; border:1px solid #ccc; box-sizing:border-box; resize:none; box-sizing:border-box; outline:none;
-webkit-transition: all 0.35s ease-out;
-moz-transition: all 0.35s ease-out;
-ms-transition: all 0.35s ease-out;
-o-transition: all 0.35s ease-out;
transition: all 0.35s ease-out;
}
textarea:focus{border-color:#3ba7af;}
textarea:read-only{background-color:#f7f7f7; color:#ccc; border-color:#ccc;}
textarea:disabled{background-color:#f7f7f7; color:#ccc; border-color:#ccc;}
textarea.error{border-color:#eb6100;}
button:focus,
textarea:focus,
select:focuse,
input:focus{outline:none;}

.blind {position: absolute;width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}

/* font */
@font-face {
    font-family: 'nanum';
    font-style: normal;
    font-weight: 100;
    src: url('/mood/fonts/eot/NanumSquareNeoTTF-aLt.eot') format('embedded-opentype'),
    url('/mood/fonts/NanumSquareNeoTTF-aLt.woff2') format('woff2'),
    url('/mood/fonts/NanumSquareNeoTTF-aLt.woff') format('woff'),
    url('/mood/fonts/NanumSquareNeoTTF-aLt.otf') format('opentype');
}
@font-face {
    font-family: 'nanum';
    font-style: normal;
    font-weight: 200;
    src: url('/mood/fonts/eot/NanumSquareNeoTTF-bRg.eot') format('embedded-opentype'),
    url('/mood/fonts/NanumSquareNeoTTF-bRg.woff2') format('woff2'),
    url('/mood/fonts/NanumSquareNeoTTF-bRg.woff') format('woff'),
    url('/mood/fonts/NanumSquareNeoTTF-bRg.otf') format('opentype');
}
@font-face {
    font-family: 'nanum';
    font-style: normal;
    font-weight: 300;
    src: url('/mood/fonts/eot/') format('embedded-opentype'),
    url('/mood/fonts/NanumSquareNeoTTF-cBd.woff2') format('woff2'),
    url('/mood/fonts/NanumSquareNeoTTF-cBd.woff') format('woff'),
    url('/mood/fonts/NanumSquareNeoTTF-cBd.otf') format('opentype');
}
@font-face {
    font-family: 'nanum';
    font-style: normal;
    font-weight: 400;
    src: url('/mood/fonts/eot/NanumSquareNeoTTF-dEb.eot') format('embedded-opentype'),
    url('/mood/fonts/NanumSquareNeoTTF-dEb.woff2') format('woff2'),
    url('/mood/fonts/NanumSquareNeoTTF-dEb.woff') format('woff'),
    url('/mood/fonts/NanumSquareNeoTTF-dEb.otf') format('opentype');
}
@font-face {
    font-family: 'nanum';
    font-style: normal;
    font-weight: 500;
    src: url('/mood/fonts/eot/NanumSquareNeoTTF-eHv.eot') format('embedded-opentype'),
    url('/mood/fonts/NanumSquareNeoTTF-eHv.woff2') format('woff2'),
    url('/mood/fonts/NanumSquareNeoTTF-eHv.woff') format('woff'),
    url('/mood/fonts/NanumSquareNeoTTF-eHv.otf') format('opentype');
}
@font-face {
    font-family: 'nanum';
    font-style: normal;
    font-weight: 600;
    src: url('/mood/fonts/eot/NanumSquareNeo-Variable.eot') format('embedded-opentype'),
    url('/mood/fonts/NanumSquareNeo-Variable.woff2') format('woff2'),
    url('/mood/fonts/NanumSquareNeo-Variable.woff') format('woff'),
    url('/mood/fonts/NanumSquareNeo-Variable.otf') format('opentype');
}
html {font-size: 1px;}

/* 공통 버튼 */
.btn {display: inline-block;width: 348rem;height: 64rem;line-height: 64rem;font-size: 33rem;text-align: center;font-weight: 400;}
.btn-blue {background-color: #006B8E;color: #fff;}
.btn-line {color: #6e7274;background-color: white;border: 3rem solid #6e7274;line-height: 61rem;}
.btn-wrap {text-align: center;}
/* intro */
.intro {height: 100%;background: url("/mood/img/intro.jpg") no-repeat center / cover;}
.intro #container{display: flex;flex-direction: column;justify-content: center;width: 100%;height: 100%;max-width: 1920px;margin: 0 auto;}
.intro-con {padding: 20px 0;}
.intro-con .btn-wrap {margin-top: 40vh;}
.intro-txt {text-align: center;}
.intro-txt span {display: block;font-size: 36rem;line-height: 48rem;font-weight: 200;letter-spacing: -0.8rem;}
.intro-txt strong {display: block;margin-top: 5rem; font-size: 55rem;line-height: 88rem;font-weight: 500;}
.intro-list {display: flex;justify-content: center;align-items: center;margin-top: 40rem;}
.intro-list li{position: relative;width: 210rem;padding-top: 80rem;font-weight: 200;font-size: 18rem;text-align: center;color: #6e7274;}
.intro-list li:nth-child(1){background: url("/mood/img/ico_intro_01.png") no-repeat center top / 40rem auto;}
.intro-list li:nth-child(2){background: url("/mood/img/ico_intro_02.png") no-repeat center top / 67rem auto;}
.intro-list li:nth-child(2)::after {content: "";display: block;position: absolute;left: 0;top: 4rem;width: 2rem;height: 60rem;background-color: #4191ab;}
.intro-list li:nth-child(2)::before {content: "";display: block;position: absolute;right: 0;top: 4rem;width: 2rem;height: 60rem;background-color: #4191ab;}
.intro-list li:nth-child(3){background: url("/mood/img/ico_intro_03.png") no-repeat center top / 64rem auto;}
/* header */
header {position: relative;max-width: 1920px;z-index: 2;}
header .logo {position: absolute;right: 36rem;top: 20rem;} 
header .logo a {display: block;width: 172rem;}
/* page */
.page {height: 100%;max-width: 1920px;margin: 0 auto;}
.page-inner {padding: 0 80rem;}
.page #container {display: flex;flex-direction: column;justify-content: center;height: 100%;transform: translateZ(0);margin-top: -50rem;}
.page .swiper {text-align: center;}
.page .swiper-button-prev.swiper-button-disabled {opacity: 0;}
.page .swiper-button-prev {width: auto;flex-direction: row-reverse;top: 20rem;margin-top: 0;}
.page .swiper-button-prev span {margin-left: 7rem; font-size: 18rem;color: #6e7274;}
.page .swiper-button-prev::after {font-size: 18rem;color: #6e7274;}
.page .btn {margin-top: 60rem;}
.remodel-q {margin-top: 120rem;}
.remodel-txt .num {font-weight: 200;font-size: 20rem;color: #bfc5c7;}
.remodel-txt .num strong {font-weight: 500;font-size: 36rem;color: #006b8e;}
.remodel-txt .tit {margin-top: 10rem;font-size: 50rem;font-weight: 200;line-height: 72rem;}
.remodel-list {display: flex;align-items: stretch;justify-content: center;gap: 20rem;margin-top: 70rem;}
.remodel-list .remodel-btn {display: flex; flex-direction: column; justify-content: flex-end; align-items: center;gap: 15rem; width: 234rem;height: 234rem;border: 1rem solid #e1e6e8;border-radius: 16rem;padding: 25rem 10rem 10rem;box-sizing: border-box;cursor: pointer;}
.remodel-list .remodel-btn:hover,
.remodel-list .remodel-btn.on {border-color: #006b8e;background-color: #f3f8fe;animation: bounce 2s infinite;}
.remodel-list .remodel-btn:hover span,
.remodel-list .remodel-btn.on span {color: #006b8e;}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100%{transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{transform: translateY(-10px);}
}
.remodel-list .remodel-btn input {display: none;opacity: 0;}
.remodel-list .remodel-btn .img {display: flex;align-items: flex-end;text-align: center;}
.remodel-list .remodel-btn span {min-height: 70rem;font-size: 24rem;color: #6e7274;letter-spacing: -0.25rem;}
.swiper-slide:nth-child(7) .remodel-list .remodel-btn,
.swiper-slide:nth-child(8) .remodel-list .remodel-btn,
.swiper-slide:nth-child(9) .remodel-list .remodel-btn,
.swiper-slide:nth-child(10) .remodel-list .remodel-btn,
.swiper-slide:nth-child(11) .remodel-list .remodel-btn {gap: 5rem;padding: 10rem 5rem 5rem;}
.swiper-slide:nth-child(7) .remodel-list .remodel-btn span,
.swiper-slide:nth-child(8) .remodel-list .remodel-btn span,
.swiper-slide:nth-child(9) .remodel-list .remodel-btn span,
.swiper-slide:nth-child(10) .remodel-list .remodel-btn span,
.swiper-slide:nth-child(11) .remodel-list .remodel-btn span {min-height: auto;font-size: 21rem;}
/* 로딩 */
.loading-group {position: fixed;left: 0;top: 0;right: 0;bottom: 0;display: flex; align-items: center; justify-content: center; background-color: #fff;}
.loading-in {text-align: center;}
.loding-txt {text-align: center;font-size: 50rem;font-weight: 200;text-align: center;}
.loading-in img {width: 300rem;}
/* result */
.result-con {position: relative;display: flex;justify-content: center;align-items: center;height: 100vh;padding: 60rem 10rem 60rem;text-align: center;font-weight: 400;font-size: 29rem;color: #006b8e;box-sizing: border-box;}
.result-con .slogan {font-weight: 400;font-size: 28rem;color: #006b8e;letter-spacing: -0.5rem;}
.result-con .tit {margin-top: 36rem;}
.result-con .tit span {display: block;font-weight: 200;font-size: 24rem;color: #6e7274;letter-spacing: -0.5rem;line-height: 40rem;}
.result-con .tit strong {display: block;font-weight: 400;font-size: 60rem;line-height: 72rem;color: #6e7274;word-break: keep-all;word-wrap: break-word;}
.result-con .slogan + .tit strong {color: #3c3b3b;}
.result-con .desc {margin-top: 22rem;font-size: 24rem;line-height: 30rem;color: #6e7274;font-weight: 200;word-break: keep-all;word-wrap: break-word;}
.result-con .tit + .desc {margin-top: 54rem;}
.result-con .desc .color {font-weight: 400;color: #006B8E;}
.result-con .desc .point {display: inline-block;position: relative;font-weight: 200;}
.result-con .desc .point::after {content: "";position: absolute;bottom: 0;left:0;height: 8rem;width: 100%;background: rgba(0,107,142, .3);}
.result-con .img {margin-top: 22rem;}
.result-con .desc + .img {margin-top: 70rem;}
.result-con .img img {width: 379rem;}
.result-footer {display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100vh;background: url("/mood/img/result.jpg") no-repeat center / cover;text-align: center;}
.result-footer .result-in {padding-bottom: 60rem;background: url("/mood/img/logo.png") no-repeat center bottom / 172rem auto;}
.result-footer .tit {font-size: 60rem;color: #6e7274;line-height: 65rem;font-weight: 400;word-break: keep-all;word-wrap: break-word;}
.result-footer .desc {margin-top: 88rem;font-size: 24rem;color: #000;line-height: 34rem;}
.result-footer .btn-wrap {width: 520rem;display: flex;flex-wrap: wrap; justify-content: center; margin: 0 auto;gap: 3rem;margin-top: 270rem;}
.result-footer .btn-wrap .btn-blue {width: 100%;}
.result-footer .btn-wrap .btn-blue span::after {content: "";display: inline-block;background: url("/mood/img/icon_btn_01.png") no-repeat center / 16rem auto;width: 16rem;height: 22rem;margin-left: 12rem;}
.result-footer .btn-wrap .replay span::after {content: "";display: inline-block;background: url("/mood/img/icon_btn_02.png") no-repeat center / 20rem auto;width: 20rem;height: 23rem;margin-left: 10rem;}
.result-footer .btn-wrap .share span::after {content: "";display: inline-block;background: url("/mood/img/icon_btn_03.png") no-repeat center / 25rem auto;width: 25rem;height: 23rem;margin-left: 10rem;}
.result-footer .btn-wrap .btn-line-blue {width: calc(50% - 3rem);border: 3rem solid #006B8E;box-sizing: border-box;color: #006B8E;}
/* popup */
.layer-pop {z-index:50;position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.5);}
.layer-inner{position:absolute;top:50%;left:50%;overflow-y: auto;width:800rem;height: auto;max-height: 100%; padding:0 20rem;background-color:#fff;transform:translate(-50%,-50%);text-align:center;box-sizing: border-box;}
.layer-inner .close {position: absolute;right: 30rem;top: 30rem;font-size: 50rem;font-weight: 300;}
.layer-inner .title {padding-top: 40rem; font-weight: 400;font-size: 50rem;line-height: 64rem;color: #6e7274;}
.layer-inner .title::after {content: "";display: inline-block;margin-left: 10rem; vertical-align: -8rem;width: 50rem;height: 52rem;background: url("/mood/img/emoticon.png") no-repeat center top / 50rem;}
.layer-inner .btn-wrap {display: flex;justify-content: center; align-items: center; background-color: #fff;padding: 28rem 0;gap: 4rem;}
.layer-inner .btn-wrap .btn {width: 250rem;font-size: 24rem;}
.form-group {padding: 30rem 100rem 10rem;}
.form-group .form-item ~ .form-item {margin-top: 30rem;}
.form-group .form-item input ~ input {margin-top: 3rem;}
.form-group .form-item .address{display: flex;gap: 2rem;margin-bottom: 3rem;margin-top: 10rem;}
.form-group .form-item .address input {flex: 1;}
.form-group .form-item .btn-address {width: 114rem;height: 50rem;line-height: 48rem;border: 1px solid #777a7c;font-size: 17rem;font-weight: 300;letter-spacing: -0.5rem;}
.form-group .group-labe {display: block;text-align: left;font-weight: 400;font-size: 20rem;color: #6e7274;}
.form-group .group-labe + input {margin-top: 10rem;}
.form-group .agreement {text-align: left;}
.form-group .agreement-in {padding: 20rem 0;}
.form-group .btn-agreement {font-size: 16rem;color: #6e7274;}
.form-group .btn-agreement span {font-weight: 200;}
.form-group .btn-agreement strong{font-weight: 300;}
.form-group .detail {display:none;max-height: 100rem;overflow-y: auto; border: 1px solid #6e7274;padding: 10rem;font-size: 14rem;}
.form-group .detail .tit + .tit,
.form-group .detail .tit + ol ,
.form-group .detail ol + p,
.form-group .detail p + p {margin-top: 10rem;}
.form-group .detail a {font-size: 14rem;}
.agreement .join_checkbox label {position: relative;padding-left: 27rem; display: inline-block; font-size: 15rem; color: #666;}
.agreement .join_checkbox label:before {position: absolute; left: 0; top: 0; z-index: 2; width: 20rem; height: 20rem; background: url(/mood/img/checkbox-circle-off.svg) no-repeat center center; background-size: 20rem; display: block; content: "";}
.agreement .join_checkbox input {display: none;position: absolute; left: -50rem; top: 4rem; z-index: 1;}
.agreement .join_checkbox input:checked+label:before {width: 20rem; height: 20rem; background: url(/mood/img/checkbox-on.svg) no-repeat center center; background-size: 16rem; display: block; content: "";}

.mouse-wrapper {
position: absolute;
bottom: 70rem;
left: 50%;
-webkit-transform: translate(-50%, 0);
transform: translate(-50%, 0);
}
.mouse-arrow {
display: block;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
border-right: 3rem solid #006B8E;
border-bottom: 3rem solid #006B8E;
margin: 2rem 0 3rem 6rem;
width: 16rem;
height: 16rem;
-webkit-animation: mouse-scroll 1s infinite;
-moz-animation: mouse-scroll 1s infinite;
-webkit-animation-delay: 100ms;
-moz-animation-delay: 100ms;
-webkit-animation-direction: alternate;
}

.mouse-arrow:after,
.mouse-arrow:before {
position: absolute;
content: '';
display: block;
border-right: 3rem solid #006B8E;
border-bottom: 3rem solid #006B8E;
width: 16rem;
height: 16rem;
-webkit-animation: mouse-scroll 1s infinite;
-moz-animation: mouse-scroll 1s infinite;
}

.mouse-arrow:after {
margin: 5rem 0 3rem 5rem;
-webkit-animation-delay: 200ms;
-moz-animation-delay: 200ms;
-webkit-animation-direction: alternate;
}

.mouse-arrow:before {
margin: 14rem 0 3rem 14rem;
-webkit-animation-delay: 300ms;
-moz-animation-delay: 300ms;
-webkit-animation-direction: alternate;
}
@-webkit-keyframes mouse-scroll {
0% {
    opacity: 0;
}
50% {
    opacity: 0.5;
}
100% {
    opacity: 1;
}
}
.scrollTF{overflow-y: hidden;}
/* 상담하기 버튼 */
.fixed-box {position: fixed;right: 25rem;bottom:40rem}
.btn-Kakao {width: 70rem;height: 70rem;border-radius: 50%;background: url("https://www.heimlab.co.kr/static/files/images/common/fixed_inquiry_call.svg") no-repeat center;background-size: 100%;background-color: #fff;box-shadow: 8px 0px 18px rgba(0, 0, 0, 0.2);}
@media screen and (max-width: 1024px){
    html {font-size: 0.0977vw;}
    .swiper-slide .remodel-list .remodel-btn {min-height: 234rem;height: auto;}
    .swiper-slide .remodel-list .remodel-btn span {font-size: 22rem;}
    .swiper-slide:nth-child(7) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(8) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(9) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(10) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(11) .remodel-list .remodel-btn span {min-height: auto;font-size: 19rem;}
}
@media screen and (max-width: 720px){
    html {font-size: 0.1389vw;}
    .page-inner {padding: 0 20rem;}
    .remodel-list {flex-wrap: wrap;}
    .remodel-list .remodel-btn {width: 40%;}
    .remodel-txt .tit {font-size: 34rem;}
    .page #container {margin-top: 0;}
    .loding-txt {font-size: 36rem;}
    .result-con {padding: 10rem 40rem 60rem;}
    .result-con .result-in {margin-top: -60rem;}
    .layer-inner {width: 100%;height: 100%;}
    .form-group {padding-left: 40rem;padding-right: 40rem;}
    .form-group .btn-agreement {font-size: 18rem;}
    .agreement .join_checkbox label {font-size: 17rem;}
    .agreement .join_checkbox label {padding-left: 35rem;}
    .agreement .join_checkbox label:before,
    .agreement .join_checkbox input:checked+label:before {width: 25rem;height: 25rem;background-size: 25rem;}
    .form-group .detail,
    .form-group .detail a {font-size: 18rem;}
    .swiper-slide .remodel-list .remodel-btn span {font-size: 24rem;}
    .swiper-slide:nth-child(7) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(8) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(9) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(10) .remodel-list .remodel-btn span,
    .swiper-slide:nth-child(11) .remodel-list .remodel-btn span {min-height: auto;font-size: 21rem;}
    .btn-Kakao {width: 100rem;height:100rem;}
    .result-footer .tit ,
    .result-con .tit strong {font-size: 45rem;}
    .result-con .desc {padding: 0 30rem;}
    .result-con .tit {padding: 0 10rem;}
}