<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="<%= relativePath %>resource/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="<%= relativePath %>resource/js/common.js"></script>
</head>
<body>
  <div><%= siteName %> <%= currentYear %></div>
  `1`1 <%= relativePath %>
  <%- include(relativePath + 'src/include/test.ejs', { title1: "12312323" }) %>
  <div class="c">/html/박화주 ㅁㄴㅇ리ㅏㅓㄴ이라ㅓㄴㅇ리ㅏㅓㅁㄴㅇ</div>

  <!--
  jquery modal 참고 doc: https://www.jquerymodal.com/
  Example 6: Multiple Modals
  -->
  <div id="ex1" class="modal">
    <p>Thanks for clicking. That felt good.</p>
    <a href="#" rel="modal:close">Close</a>
  </div>

  <p><a href="#ex1" rel="modal:open">a링크 rel로 연결했을 경우 Open Modal</a></p>
  <p><button type="button" id="open-modal-btn">button Open Modal</button></p>
ㄱㄷㅈㅅㄷㅈㄳㄱㄷㅅ
  <!-- 멀티 팝업 -->
  <div id="modal1" class="modal">
    <p>First Modal Content.<br>First Modal Content.<br>First Modal Content.<br>First Modal Content.<br>First Modal Content.<br>First Modal Content.<br>First Modal Content.<br></p>
    <p><button id="open-modal2-btn" type="button">Open Second Modal</button></p>
    <a href="#" rel="modal:close">Close</a>
  </div>

  <div id="modal2" class="modal">
      <p>Second Modal Content.<br>Second Modal Content.<br>Second Modal Content.<br>Second Modal Content.<br></p>
      <p><button id="open-modal3-btn" type="button">Open Third Modal</button></p>
      <a href="#" rel="modal:close">Close</a>
  </div>

  <div id="modal3" class="modal">
      <p>Third Modal Content.</p>
      <a href="#" rel="modal:close">Close</a>
  </div>

  <p><button id="open-modal1-btn" type="button">멀티 중첩 Open First Modal</button></p>

  <script>
    $(document).ready(function() {
        $('#open-modal-btn').click(function() {
            $('#ex1').modal();
        });

        // default는 이전 팝업을 현 팝업으로 교체
        /** closeExisting: false,
          - 위 옵션 false 추가시 기존 팝업 존재하면서 현재 팝업 노출
          - default 값: true
          - 옵션 생략 가능
        **/
        /** escapeClose: false,
          - 위 옵션 false 추가시 ESC키 적용 안됌
          - default 값: true
          - 옵션 생략 가능
        **/
        /** clickClose: false,
          - 위 옵션 false 추가시 팝업 외 영역 클릭시 close 미적용
          - default 값: true
          - 옵션 생략 가능
        **/
        /** showClose: flase,
          - 위 옵션 false 추가시 상단 x 닫기 버튼 미노출
          - default 값: true
          - 옵션 생략 가능
        **/
        $('#open-modal1-btn').click(function() {
            $('#modal1').modal({
                escapeClose: false,
                clickClose: true,
                showClose: true,
            });
        });

        $('#open-modal2-btn').click(function() {
            $('#modal2').modal({
                escapeClose: false,
                clickClose: false,
                showClose: false,
                closeExisting: false,
            });
        });

        $('#open-modal3-btn').click(function() {
            $('#modal3').modal({
                escapeClose: false,
                clickClose: false,
                showClose: false,
                closeExisting: false,
            });
        });
    });
    </script>
</body>
</html>
