<template>
  <h1>
    <a href="#"><img src="./assets/header_logo.svg" alt=""></a>
  </h1>
  <div class="menu">
    <a href="#" v-for="(menu,i) in name" :key="i">{{menu + i}}</a>
  </div>
  <transition name="fade">
    <ModalWhite :data_parents="data_parents" :누른거="누른거" :modal="modal" @closeModal="modal = false" />
  </transition>
  <Discount v-if="showDiscount == true" />
  <button type="button" @click="priceSort">가격순정렬</button>
  <button type="button" @click="sortBack">되돌리기</button>
  <RoomCard @openModal="modal = true; 누른거 = $event" :원룸="room" v-for="(room,i) in data_parents" :key="i" />

  <!-- <div v-for="(box,i) in 3" :key="i">
    <img src="./assets/room0.jpg" alt="" class="room-img">
    <h4>{{products[i]}}</h4>
    <p>60 만원</p>
    <button type="button" @click="신고수[i]++">허위매물신고</button>
    <span>신고수 : {{ 신고수[i] }}</span>
  </div> -->

</template>

<script>

import data_one from './assets/oneroom.js';
import Discount from './DiscountA.vue';
import ModalWhite from './ModalWhite.vue';
import RoomCard from './RoomCard.vue';

export default {
  name: 'App',
  data(){
    return {
      showDiscount : true,
      초기데이터 : [...data_one],
      누른거 : 0,
      data_parents : data_one,
      modal : false,
      신고수 : [0,0,0],
      products : ['역삼동 원룸', '천호동원룸', '마포구원룸'],
      name : ['Home', 'Shop', 'About'],
    }
  },
  methods : {
    increase(i){
      this.신고수[i]++;
    },
    sortBack() {
      this.data_parents = [...this.초기데이터]
    },
    priceSort(){
      this.data_parents.sort(function(a,b){
        return a.price - b.price
      })
    }
  },
  mounted() {
    // setTimeout(()=>{
    //   this.showDiscount = false
    // }, 2000);
    
  },
  components: {
    Discount: Discount,
    ModalWhite : ModalWhite,
    RoomCard : RoomCard
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.menu {
  background: darkslateblue;
  padding: 15px;
  border-radius: 5px;
}
.menu a {
  color: white;
  padding: 10px;
}
.room-img {
  width: 100%;
  margin-top: 40px;
}
body {
  margin : 0;
}
div {
  box-sizing: border-box;
}
.black-bg {
  width: 100%; height:100%;
  background: rgba(0,0,0,0.5);
  position: fixed; padding: 20px;
}
.white-bg {
  width: 100%; background: white;
  border-radius: 8px;
  padding: 20px;
}
.close {
  background: #000;
  padding: 5px;
  color: #fff;;
}
.discount {
  background: #eee;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.start {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.end {
  opacity: 1;
}
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 1s ease-in-out;
}
.fade-enter-to {opacity: 1;}
</style>
