<template>
  <div class="black-bg" v-if="modal == true">
    <div class="white-bg">
      <img :src="data_parents[누른거].image" style="width:100%">
      <h4>{{ data_parents[누른거].title }}</h4>
      <p>{{ data_parents[누른거].content }}</p>
      <p>{{ data_parents[누른거].price }} 원</p>
      <div>
        <input type="text" v-model="month">
        <p>{{ month }}개월 선택함 : {{ data_parents[누른거].price * month}} 원</p>
      </div>
      <button @click="closePop">닫기</button>
    </div>
  </div>
</template>

<script>
export default {
  name : 'ModalWhite',
  data(){
    return {
      month : 1,
    }
  },
  watch :{
    month(a){
      // if( a >= 13){
      //   alert('13이상 입력하지 마세요')
      // }
      if (isNaN(a) == true){
        alert('문자입력하지마라');
        this.month = 1;
      }
    }
  },
  props : {
    data_parents : Object,
    누른거 : Number,
    modal : Boolean,
  },
  methods  : {
    closePop(){
      this.$emit('closeModal')
    }
  }
}
</script>

<style>

</style>