<template>
  <div>
    컨테이너
    <Post v-for="(a,i) in vuestagram" :key="i" :vuestagram="vuestagram[i]"/>
  </div>
</template>

<script>
import Post from './PostVue.vue'
export default {
  name : 'ContainerVue',
  components : {
    Post : Post
  },
  props : {
    vuestagram : Array
  }
}
</script>

<style>

</style>